<div>{{ content }}</div>

<div nz-row style="margin-bottom: 10px; margin-left: 200px">
  <div nz-col [nzSpan]="16">
    <ng-container>
      <nz-form-item nzFlex style="margin-bottom: 0px">
        <!-- <nz-form-label nz-col [nzRequired]="!isReadOnly" [nzSpan]="4"> 
             </nz-form-label> -->
      </nz-form-item>
    </ng-container>
    <quill-editor
      [style]="{ height: '300px' }"
      (onEditorCreated)="editorCreated($event)"
      [(ngModel)]="content"
      placeholder="请输入公告内容"
      (onContentChanged)="contentChanged($event)"
    >
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <!-- 加粗 -->
          <button class="ql-bold" [title]="'Bold'"></button>
        </span>
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <!-- 加入图片 -->
        <button class="ql-image" [title]="'Aligment3'"></button>
        <!-- 更改颜色 -->
        <select class="ql-color">
          <option selected="selected"></option>
          <option value="#e60000"></option>
          <option value="#ff9900"></option>
          <option value="#ffff00"></option>
          <option value="#008a00"></option>
          <option value="#0066cc"></option>
          <option value="#9933ff"></option>
          <option value="#ffffff"></option>
          <option value="#facccc"></option>
          <option value="#ffebcc"></option>
          <option value="#ffffcc"></option>
          <option value="#cce8cc"></option>
          <option value="#cce0f5"></option>
          <option value="#ebd6ff"></option>
          <option value="#bbbbbb"></option>
          <option value="#f06666"></option>
          <option value="#ffc266"></option>
          <option value="#ffff66"></option>
          <option value="#66b966"></option>
          <option value="#66a3e0"></option>
          <option value="#c285ff"></option>
          <option value="#888888"></option>
          <option value="#a10000"></option>
          <option value="#b26b00"></option>
          <option value="#b2b200"></option>
          <option value="#006100"></option>
          <option value="#0047b2"></option>
          <option value="#6b24b2"></option>
          <option value="#444444"></option>
          <option value="#5c0000"></option>
          <option value="#663d00"></option>
          <option value="#666600"></option>
          <option value="#003700"></option>
          <option value="#002966"></option>
          <option value="#3d1466"></option>
        </select>
        <!-- 字体大小 -->
        <select class="ql-size">
          <option value="small"></option>
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
        <!--上标、下标按钮-->
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
        <button type="button" class="ql-italic"></button>
        <!-- 下划线 -->
        <button type="button" class="ql-underline"></button>
        <!-- 删除线 -->
        <button type="button" class="ql-strike"></button>
        <!-- 列表显示 -->
        <button type="button" class="ql-list" value="ordered"></button>
        <!-- 缩进 -->
        <button type="button" class="ql-indent" value="-1"></button>
        <button type="button" class="ql-indent" value="+1"></button>
        <!-- 背景颜色 -->
        <select class="ql-background">
          <option value="#000000"></option>
          <option value="#e60000"></option>
          <option value="#ff9900"></option>
          <option value="#ffff00"></option>
          <option value="#008a00"></option>
          <option value="#0066cc"></option>
          <option value="#9933ff"></option>
          <option selected="selected"></option>
          <option value="#facccc"></option>
          <option value="#ffebcc"></option>
          <option value="#ffffcc"></option>
          <option value="#cce8cc"></option>
          <option value="#cce0f5"></option>
          <option value="#ebd6ff"></option>
          <option value="#bbbbbb"></option>
          <option value="#f06666"></option>
          <option value="#ffc266"></option>
          <option value="#ffff66"></option>
          <option value="#66b966"></option>
          <option value="#66a3e0"></option>
          <option value="#c285ff"></option>
          <option value="#888888"></option>
          <option value="#a10000"></option>
          <option value="#b26b00"></option>
          <option value="#b2b200"></option>
          <option value="#006100"></option>
          <option value="#0047b2"></option>
          <option value="#6b24b2"></option>
          <option value="#444444"></option>
          <option value="#5c0000"></option>
          <option value="#663d00"></option>
          <option value="#666600"></option>
          <option value="#003700"></option>
          <option value="#002966"></option>
          <option value="#3d1466"></option>
        </select>
        <!-- 字体 -->
        <select class="ql-font">
          <option selected="selected">标准字体</option>
          <option value="serif">衬线字体</option>
          <option value="monospace">等宽字体</option>
        </select>
        <!-- 清除按钮 -->
        <button type="button" class="ql-clean"></button>
        <!-- 链接 -->
        <button type="button" class="ql-link"></button>
      </div>
    </quill-editor>
  </div>
</div>
